.items  {
    width: 1000px;
    margin: 10px;

    display: inline-block;
}
.item {
    vertical-align: top;
    width: 190px;
    height: 300px;
    margin: 8px;
    background:#FEFEFE;
    display: inline-block;
    border-radius: 3px;
    box-shadow:0 0 8px rgba(0, 0, 0, 0.06);
}

h3 {
    text-align: center;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1em;
}

h5 {
    position: relative;
    bottom: 10px;
    text-align: center;
    margin-top: 20px;
}

.descroption {
    margin: 0;
    text-align: center;
    font-size: 11px;
    font-style: italic;
    color: grey;
    font-family: sans-serif;
}
img {
    width: 100px;
    height: 130px;
    margin-top: 10px;
    vertical-align: top;
    position: relative;
    left: 50px;
}

.label {
    font-family: "Montserrat", sans-serif;
    font-size: .85em;
    text-transform: uppercase;
    color: #777;
    font-size: 2em;
}